.main {
    height: 1000px;
    width: 1200px;
    background-color: aquamarine
}
.header {
    height: 150px;
    width: 1200px;
    background-color: rgb(17, 196, 136);
    
}
.branding {
    height:150px ;
    width: 400px;
    background-color: rgb(173, 133, 46);
    float: left;
}
.socialmedia {
    height: 100px ;
    width: 800px;
    background-color: rgb(7, 160, 53);
    float: left;
}
.menu {
    height:50px ;
    width: 800px;
    background-color: rgb(41, 90, 51);
    float: left;
}
.container {
    height: 800px ;
    width: 1200px;
    background-color: rgb(19, 87, 87);
}
.gallary {
    height: 400px;
    width: 1200px;
    background-color: rgb(2, 44, 44);
}
.courses {
    height:400px ;
    width: 1200px;
    background-color: rgb(54, 47, 83);
}
.bootcamp {
    height: 400px;
    width: 300px; 
    background-color: bisque;
    float: left;
}
.cloud {
    height: 400px;
    width: 300px; 
    background-color: rgb(41, 23, 1);
    float: left;
}
.machinelearning {
    height: 400px;
    width: 300px; 
    background-color: rgb(114, 165, 19);
    float: left;
}
.systemdesign {
    height: 400px;
    width: 300px; 
    background-color: rgb(41, 60, 90);
    float: left;
}
.footer {
    height: 50px;
    width: 1200px;
    background-color: rgb(132, 145, 145);
}