* {
    margin: 0px;
    padding: 0px;
    
}
.main {
    height: 1000px;
    width: 1200px;
    background-color: aquamarine;
    margin: auto;
}
.header {
    height: 150px;
    width: 1200px;
    background-color: rgb(17, 196, 136);
    
}
.branding {
    height:150px ;
    width: 400px;
    background-color: rgb(247, 241, 230);
    float: left;
}
.branding img {
    height: 150px;
    width: 400px;

}
.socialmedia {
    height: 100px ;
    width: 800px;
    background-color: rgb(233, 248, 238);
    float: left;
}
.socialmedia>img {
    height: 100px;
    width: 80px;
    margin-right:px;
    
}
.menu {
    height:50px ;
    width: 800px;
    background-color: rgb(41, 90, 51);
    float: left;
}
.menu ul li {
    list-style: none;
    float: left;
    margin-top: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-left: 10px;
    height: 20px;
    width: 180px;
    background-color: rgb(155, 41, 41);
    
}
.menu a {
    
}
.container {
    height: 800px ;
    width: 1200px;
    background-color: rgb(19, 87, 87);
}
.gallary {
    height: 400px;
    width:1200px ;
    overflow:scroll;
}
.gallary img {
    height: 400px;
    width: 1200px;
    background-color: rgb(2, 44, 44);
}
.courses {
    height:400px ;
    width: 1200px;
    background-color: rgb(54, 47, 83);
}
.bootcamp {
    height: 400px;
    width: 300px; 
    background-color: bisque;
    float: left;
}
.bootcamp img {
    height: 400px;
    width: 300px;
    float: left;
}
.cloud {
    height: 400px;
    width: 300px; 
    background-color: rgb(41, 23, 1);
    float: left;
}
.cloud img {
    height: 400px;
    width: 300px;
    float: left;
}
.machinelearning {
    height: 400px;
    width: 300px; 
    background-color: rgb(114, 165, 19);
    float: left;
}
.machinelearning img {
    height: 400px;
    width: 300px;
    float: left;
}
.systemdesign {
    height: 400px;
    width: 300px; 
    background-color: rgb(173, 129, 76);
    float: left;
}
.systemdesign img {
    height: 400px;
    width: 300px;
    float: left;
}
.footer {
    height: 50px;
    width: 1200px;
    background-color: rgb(132, 145, 145);
}