* {
    margin: 0;
    padding: 0;
}

.main {
    height: 900px;
    width: 1200px;
    background-color: aquamarine;
    margin: auto;

}
.header {
    height: 200px;
    width: 1200px;
    background-color: brown;
}
.gallary {
    height:400px ;
    width: 1200px;
    background-color: rgb(155, 194, 49);
}
.footer {
    height:300px ;
    width: 1200px;
    background-color: rgb(216, 88, 148);
}