.grid-container {
    width: 80%;
    height: 80vh;
    margin: 5% 10%;
    background-color: rgb(3, 20, 20);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-item {
    
   min-height: 200px;
    background-color: blueviolet;
}
.grid-item-1 {
    grid-row-start:1;
    grid-row-end: 3 ;
   
}